
@{
    ViewBag.Title = "Index";
}


@{
    ViewBag.Title = "Index";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sản phẩm kinh doanh trong hệ thống</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Ribbons</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="position-relative p-3 bg-gray" style="height: 180px">
                                    <div class="ribbon-wrapper">
                                        <div class="ribbon bg-primary">
                                            Ribbons
                                        </div>
                                    </div>
                                    Sản phẩm 1<br />
                                    <small>
                                        Nội dung sản phẩm thứ nhất dùng để minh họa cho thông tin tóm lược
                                        về sản phẩm, đây là thông tin lấy từ thuộc tính tóm tắt nội dung
                                    </small>
                                    <button class="btn btn-danger">hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">kích hoạt</button>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="position-relative p-3 bg-gray" style="height: 180px">
                                    <div class="ribbon-wrapper">
                                        <div class="ribbon bg-primary">
                                            Ribbons
                                        </div>
                                    </div>
                                    Sản phẩm 2<br />
                                    <small>
                                        Nội dung sản phẩm thứ nhất dùng để minh họa cho thông tin tóm lược
                                        về sản phẩm, đây là thông tin lấy từ thuộc tính tóm tắt nội dung
                                    </small>
                                    <button class="btn btn-danger">hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">kích hoạt</button>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="position-relative p-3 bg-gray" style="height: 180px">
                                    <div class="ribbon-wrapper">
                                        <div class="ribbon bg-primary">
                                            Ribbons
                                        </div>
                                    </div>
                                    Sản phẩm 3<br />
                                    <small>
                                        Nội dung sản phẩm thứ nhất dùng để minh họa cho thông tin tóm lược
                                        về sản phẩm, đây là thông tin lấy từ thuộc tính tóm tắt nội dung
                                    </small>
                                    <button class="btn btn-danger">hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">kích hoạt</button>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <div class="position-relative p-3 bg-gray" style="height: 180px">
                                    <div class="ribbon-wrapper">
                                        <div class="ribbon bg-primary">
                                            Ribbons
                                        </div>
                                    </div>
                                    Sản phẩm 4<br />
                                    <small>
                                        Nội dung sản phẩm thứ nhất dùng để minh họa cho thông tin tóm lược
                                        về sản phẩm, đây là thông tin lấy từ thuộc tính tóm tắt nội dung
                                    </small>
                                    <button class="btn btn-danger">hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">kích hoạt</button>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="position-relative p-3 bg-gray" style="height: 180px">
                                    <div class="ribbon-wrapper">
                                        <div class="ribbon bg-primary">
                                            Ribbons
                                        </div>
                                    </div>
                                    Sản phẩm 5<br />
                                    <small>
                                        Nội dung sản phẩm thứ nhất dùng để minh họa cho thông tin tóm lược
                                        về sản phẩm, đây là thông tin lấy từ thuộc tính tóm tắt nội dung
                                    </small>
                                    <button class="btn btn-danger">hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">kích hoạt</button>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="position-relative p-3 bg-gray" style="height: 180px">
                                    <div class="ribbon-wrapper">
                                        <div class="ribbon bg-primary">
                                            Ribbons
                                        </div>
                                    </div>
                                    Sản phẩm 6<br />
                                    <small>
                                        Nội dung sản phẩm thứ nhất dùng để minh họa cho thông tin tóm lược
                                        về sản phẩm, đây là thông tin lấy từ thuộc tính tóm tắt nội dung
                                    </small>
                                    <button class="btn btn-danger">hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">kích hoạt</button>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <div class="position-relative">
                                    <img src="~/assets/dist/img/photo1.png" alt="Photo 1" class="img-fluid">
                                    <div class="ribbon-wrapper ribbon-lg">
                                        <div class="ribbon bg-success text-lg">
                                            Ribbon
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="position-relative">
                                    <img src="~/assets/dist/img/photo2.png" alt="Photo 2" class="img-fluid">
                                    <div class="ribbon-wrapper ribbon-xl">
                                        <div class="ribbon bg-warning text-lg">
                                            Ribbon
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="position-relative" style="min-height: 180px;">
                                    <img src="~/assets/dist/img/photo3.jpg" alt="Photo 3" class="img-fluid">
                                    <div class="ribbon-wrapper ribbon-xl">
                                        <div class="ribbon bg-danger text-xl">
                                            Ribbon
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
