
@{
    ViewBag.Title = "Index";
}


@{
    ViewBag.Title = "Index";
}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Danh sách các bài viết</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Bài viết</a></li>
                        <li class="breadcrumb-item active">Danh sách bài viết</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Danh mục các bài viết</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Mã bài viết</th>
                                        <th>Tên bài viết</th>
                                        <th>Ngày đăng </th>
                                        <th>Tài khoản</th>
                                        <th>Đã duyệt</th>
                                        <th>Số lần đọc</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Canh chua cá lóc</td>
                                        <td>04/06</td>
                                        <td>nvthong@gmail.com</td>
                                        <td>True</td>
                                        <td>19</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Cá rô kho tiêu</td>
                                        <td>05/07</td>
                                        <td>naruto@nttu.edu.vn</td>
                                        <td>True</td>
                                        <td>1058</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Thịt kho tàu</td>
                                        <td>15/08</td>
                                        <td>akatsuki@gamil.com</td>
                                        <td>True</td>
                                        <td>95</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Rau muống xào  tỏi</td>
                                        <td>30/12</td>
                                        <td>nagato@yahoo.com</td>
                                        <td>True</td>
                                        <td>45</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>dưa leo xào mực</td>
                                        <td>19/1</td>
                                        <td>itachi@gmail.com</td>
                                        <td>True</td>
                                        <td>501</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Cơm chiên trứng</td>
                                        <td>08/12</td>
                                        <td>konan@gmail.com</td>
                                        <td>True</td>
                                        <td>54</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>Gà nướng lu</td>
                                        <td>24/04</td>
                                        <td>yahiko@gmail.com</td>
                                        <td>True</td>
                                        <td>871</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>nước mắm chua ngọt</td>
                                        <td>07/08</td>
                                        <td>deidara@gmail.com</td>
                                        <td>True</td>
                                        <td>429</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>Canh rau dền</td>
                                        <td>06/01</td>
                                        <td>Sasori@gmail.com</td>
                                        <td>True</td>
                                        <td>723</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>Mì ramen</td>
                                        <td>05/02</td>
                                        <td>kisame@gmail.com</td>
                                        <td>True</td>
                                        <td>328</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>Hoành thánh</td>
                                        <td>20/11</td>
                                        <td>obito@gmail.com</td>
                                        <td>false</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>rắn nướng</td>
                                        <td>04/06</td>
                                        <td>orochimaru@gmail.com</td>
                                        <td>True</td>
                                        <td>142</td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td>Phở bò</td>
                                        <td>16/06</td>
                                        <td>hidan@gmail.com</td>
                                        <td>false</td>
                                        <td>0</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

